.top{
   width: 100%;
   height: 50px; 
   background-color:white;
   position:sticky;
   top: 0;
   display:flex;
   font-family: 'Josefin Sans', sans-serif;
   align-items: center;
   z-index: 999;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.topright{
    flex:3;
    display: flex;
    align-items:center;
    justify-content:center;
   
}
.topleft{
    flex:4;
    display: flex;
    align-items:center;
    justify-content:center;
   
}

.topcenter{
    flex:5;
    display: flex;
    align-items:center;
    justify-content:center;
       
}

.toplist{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
    padding:0;
    list-style: none;

}

.toplistitem{
    margin: 15px;
    font-size:18px;
    font-weight:300;
    cursor:pointer;

}




.textfield{
    width: 300px;
}
